<!DOCTYPE html>
<html lang="en">

<head></head>

<body>
    <header>
        <img src="../assets/img/principal.jpg" alt="imagen" width="100%" height="340px">
    </header>
    <hr>

    <h1>Servicios de salud</h1>
    <h2>De qué se trata</h2>
    <p>
        <strong>
        Se trata de dos números telefónicos que serán atendidos por un equipo del área psicosocial y que orientarán a la comunidad en materia de autocuidado y bienestar emocional.</strong> Con la finalidad de entregar apoyo, orientación y sugerencias
        en materia de autocuidado y bienestar emocional, el Servicio de Salud Valdivia (SSV), a través del Subdepartamento de Salud Mental, pondrá a disposición de la comunidad de Los Ríos dos números telefónicos para que los usuarios puedan realizar
        consultas en el contexto de la alerta sanitaria por COVID-19.</p>
    <h2>Cómo será la plataforma</h2>
    <p>
        <strong>
        La plataforma telefónica será atendida por profesionales y técnicos del área psicosocial, quienes entregarán información respecto a hábitos saludables, redes de apoyo en la región y rutinas destinadas a favorecer el bienestar emocional y mental. </strong>        Así como también, orientación sobre cómo favorecer la comunicación en el ambiente familiar en época de distanciamiento físico. Para la jefa (s) del Subdepartamento de Salud Mental del SSV, Viviana Segura, la iniciativa viene a otorgar un apoyo
        fundamental en la comunidad, ya que “en tiempos de pandemia, la comunicación no presencial y a través de medios virtuales como internet y teléfono es primordial, siempre y cuando esta comunicación contribuya a poder cuidarnos y manejar nuestras
        emociones de la manera más adaptativa posible”.
    </p>
    <h2>Contacto y horarios</h2>
    <p>
        <strong>
        Los números habilitados son el +56 9 5770 2594 y +56 9 3286 0662, y funcionarán en días hábiles de lunes a jueves de 8.30 a 13 horas y de 14.30 a 17 horas, mientras que el día viernes la atención
        será en horario 8.30 a 13 horas y de 14.30 a 16 horas.</strong> Cabe destacar que esta nueva estrategia complementa los teléfonos de apoyo a la comunidad ya existentes, como el fono de Salud Responde, 600 360 777, y los números dispuestos
        por el Servicio de Salud para atender consultas exclusivas sobre COVID-19, +56 9 8920 3180 y +56 9 4207 1704.</p>


    <br>
    <hr>
    <br>
    <div id="end">
        <a routerLink="/home">Home</a>&nbsp;&nbsp;
        <a routerLink="/portafolio">Portafolio</a>&nbsp;&nbsp;
        <a routerLink="/servicio">Servicio</a>&nbsp;&nbsp;
        <a routerLink="/partners">Partners</a>&nbsp;&nbsp;
        <a routerLink="/contacto">Contacto</a>&nbsp;&nbsp;
        <a routerLink="/juego">Juego</a>&nbsp;&nbsp;

    </div>
    <br>
    <footer>
        &copy; Copyright 2020 Company. Derechos reservados

    </footer>
</body>

</html>