<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body>
    <header>
        <img src="../assets/img/principal.jpg" alt="imagen" width="100%" height="340px">
    </header>
    <hr>

    <h1>Partners</h1>

    <h2>Gobierno de Chile</h2>
    <div id='main'>
        <article>
            <p>
                <strong>
                El Ministerio se organiza jerárquicamente, siendo el Ministro de Salud nombrado directamente por el Presidente de la República. Tiene dos subsecretarías, la Subsecretaría de Redes Asistenciales y Subsecretaría de Salud Pública. La administración
                territorial divide las tareas de los Servicios de Salud en Secretaría Regional Ministerial de Salud (SEREMIS). </strong>
                <br> La subsecretaría de redes asistenciales tiene como misión regular y supervisar el funcionamiento de los servicios de salud. La organización territorial de estos servicios ocurre a través del Sistema Nacional de Servicios de Salud.
                Al 2020 existen 29 servicios, de los cuales 6 atienden a la región metropolitana. La subsecretaría de Salud Pública tiene como misión asegurar a todas las personas el derecho a la protección en salud ejerciendo las funciones reguladoras,
                normativas y fiscalizadoras que al Estado de Chile le competen, para contribuir a la calidad de los bienes públicos y acceso a políticas sanitario-ambientales de manera participativa.</p>
            <a href="https://www.minsal.cl/">Sitio Web</a>
        </article>
        <nav>
            <img src="../assets/img/logo_gob.png" alt="gob" width="160px" height="160px">
        </nav>
    </div>
    <h2>OMS</h2>

    <div id='main'>
        <article>
            <p><strong>
                La Organización Mundial de la Salud (OMS) es el organismo de la Organización de las Naciones Unidas (ONU) especializado en gestionar políticas de prevención, promoción e intervención a nivel mundial en la salud, definida en su Constitución
                como un estado de completo bienestar físico, mental y social, y no solamente como la ausencia de afecciones o enfermedades.</strong>
                <br> Inicialmente fue organizada por el Consejo Económico y Social de las Naciones Unidas, que impulsó la redacción de los primeros estatutos de la OMS. La primera reunión de esta organización tuvo lugar en Ginebra (Suiza) en 1948. Los
                195 Estados miembros de la OMS gobiernan el ente por medio de la Asamblea Mundial de la Salud, que está compuesta por representantes de cada uno de ellos.s</p>
            <a href="https://www.who.int/es/home">Sitio Web</a>
        </article>
        <nav>
            <img src="../assets/img/oms.png" alt="gob" width="140px" height="140px">
        </nav>
    </div>

    <br>
    <hr>
    <br>
    <div id="end">
        <a routerLink="/home">Home</a>&nbsp;&nbsp;
        <a routerLink="/portafolio">Portafolio</a>&nbsp;&nbsp;
        <a routerLink="/servicio">Servicio</a>&nbsp;&nbsp;
        <a routerLink="/partners">Partners</a>&nbsp;&nbsp;
        <a routerLink="/contacto">Contacto</a>&nbsp;&nbsp;
        <a routerLink="/juego">Juego</a>&nbsp;&nbsp;

    </div>
    <br>
    <footer>
        &copy; Copyright 2020 Company. Derechos reservados

    </footer>
</body>

</html>