body {
    background: white;
}

header {
    display: contents;
}

hr {
    height: 10px;
    width: 100%;
    background-color: black;
}

h1 {
    font-size: 30px;
    font-family: Calibri;
    margin-left: 5px;
}

h2 {
    font-size: 20px;
    font-family: Calibri;
    color: rgb(223, 71, 16);
    margin-left: 10px;
    margin-bottom: 0px;
}

h3 {
    font-size: 15px;
    font-family: Calibri;
    width: 100%;
    font-weight: bold;
    margin-left: 15px;
    margin-bottom: 0px;
}

p {
    font-size: 15px;
    font-family: Calibri;
    text-align: justify;
}

#main {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    flex-flow: row;
    width: 100%;
}

#main>article {
    order: 2;
    text-align: right;
    margin-left: 30px;
    margin-right: 40px;
    margin-top: 5px;
}

#main>nav {
    margin-left: 15px;
    order: 1;
}

#end {
    margin-left: 15px;
    text-align: center;
}

footer {
    text-align: center;
    width: 100%;
    font-family: Calibri;
    font-size: 10px;
}