<!DOCTYPE html>
<html lang="en">

<head>
</head>


<body>
    <header>
        <img src="../assets/img/principal.jpg" alt="imagen" width="100%" height="340px">
    </header>
    <hr>

    <h1>COVID-19</h1>
    <h2>Información relevante</h2>
    <p>La enfermedad por coronavirus (COVID 19) es una ‎enfermedad infecciosa causada por un ‎coronavirus recientemente descubierto. ‎ La mayoría de las personas que enferman de ‎COVID 19 experimentan síntomas de leves a ‎moderados y se recuperan sin tratamiento
        ‎especial. ‎
    </p>
    <h3>Como se propaga</h3>
    <div id='main'>
        <article>
            <p><strong>
                El virus que causa la COVID‑19 se transmite principalmente a través de las gotículas generadas cuando una persona infectada tose, estornuda o espira. Estas gotículas son demasiado pesadas para permanecer suspendidas en el aire y caen rápidamente sobre
                el suelo o las superficies. Usted puede infectarse al inhalar el virus si está cerca de una persona con COVID‑19 o si, tras tocar una superficie contaminada, se toca los ojos, la nariz o la boca.</strong>
                <br><br> En espectro clínico de este tipo de infecciones varía desde la ausencia de síntomas hasta síntomas respiratorios leves o agudos. Esta tipología suele cursar con tos, fiebre y dificultades respiratorias. Es frecuente que haya neumonía
                y, en el caso del MERS, también se pueden registrar síntomas gastrointestinales, en especial, diarrea.
                <br><br> Tal y como ocurre con el virus de la gripe, los síntomas más graves (y la mayor mortalidad) se registran tanto en personas mayores como en aquellos individuos con inmunodepresión o con enfermedades crónicas como diabetes, algunos
                tipos de cáncer o enfermedad pulmonar crónica. En los casos más graves pueden ocasionar insuficiencia respiratoria.
                <br><br> En la pandemia de Covid-19 se ha constatado que un porcentaje muy amplio de las personas infectadas presentan síntomas leves o son asintomáticos. Incluso estos últimos son transmisores del virus y esa es una de las razones de
                la gran expansión de la pandemia.
            </p>
        </article>
        <nav>
            <img src="../assets/img/sintomas.jpg" alt="sintomas" width="320px" height="320px">
        </nav>

    </div>


    <h3>Algunos síntomas son:</h3>
    <ul>
        <li>Tos</li>
        <li>Dolor de garganta</li>
        <li>Fiebre</li>
        <li>Dificultad para respirar</li>
        <li>Dolor de cabeza</li>
        <li>Pérdida del sentido del olfato y del gusto</li>
    </ul>
    <br>
    <hr>
    <br>
    <div id="end">
        <a routerLink="/home">Home</a>&nbsp;&nbsp;
        <a routerLink="/portafolio">Portafolio</a>&nbsp;&nbsp;
        <a routerLink="/servicio">Servicio</a>&nbsp;&nbsp;
        <a routerLink="/partners">Partners</a>&nbsp;&nbsp;
        <a routerLink="/contacto">Contacto</a>&nbsp;&nbsp;
        <a routerLink="/juego">Juego</a>&nbsp;&nbsp;

    </div>
    <br>
    <footer>
        &copy; Copyright 2020 Company. Derechos reservados

    </footer>
</body>

</html>